/* 
    Created on : 30/10/2017, 08:32:44
    Author     : Llorenç Garcia Martinez
*/

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none; 
    }
}

.shadow-box {
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid lightgrey;
    padding: 1em;
}

.shadow-box input {
    border: 1px solid;
    background: none;
    box-shadow:none;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
}

.shadow-box input.next {
    border-color: rgb(51, 122, 183);;
    color: rgb(51, 122, 183);;
}

.lopd {
    font-weight: normal;
}

.uppercase {
    text-transform: uppercase;
}

legend {
    border-bottom-width: 0;
}