<body>
        <!-- LOGIN -->

        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog modal-sm">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="Login">Inciar Sessió</h4>
                    </div>
                    <div class="modal-body">
                        <form action="missatge.html" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email_modal" placeholder="email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password_modal" placeholder="contrasenya">
                            </div>

                            <p class="text-center">
                                <button class="btn btn-template-main"><i class="fa fa-sign-in"></i> Entrar</button>
                            </p>

                        </form>

                        <p class="text-center text-muted">Vols registrar-te?</p>
                        <p class="text-center text-muted"><a href="registre.html"><strong>Registra't </strong></a></p>

                    </div>
                </div>
            </div>
        </div>

        
 <!--  LOGOUT  -->

        <div class="modal fade" id="logout-modal" tabindex="-1" role="dialog" aria-labelledby="logout" aria-hidden="true">
            <div class="modal-dialog modal-sm">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="logout">Tancar Sessió</h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-center text-muted"><strong>Vol tancar la sessió? </strong></p>

                            <p class="text-center">
                                <button class="btn btn-template-main"><i class="fa fa-sign-in"></i> Tancar</button>
                            </p>

                    

                        <p class="text-center text-muted">Vol modificar dades?</p>
                        <p class="text-center text-muted"><a href="area_privada.html"><strong>Area privada </strong></a></p>

                    </div>
                </div>
            </div>
        </div>

        

 
    </body>

</html>